<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>java:comp/env/jdbc/beangle</value>
		</property>
	</bean>

	<!-- Database Properties -->
	<bean id="hibernateConfig">
		<property name="properties">
			<props merge="true">
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
	</bean>
	
	<bean id="usernamePreauthFilter">
		<property name="usernameSource" >
			<bean class="org.beangle.webapp.demo.GivenUsernameSource"/>
		</property>
	</bean>
	<!--
	<bean id="securityFilterChain">
		<property name="filterChainMap">
			<map>
				<entry key="/**">
					<list>
						<ref bean="httpSessionContextIntegrationFilter"/>
						<ref bean="casPreauthFilter"/>
						<ref bean="anonymousProcessingFilter"/>
						<ref bean="exceptionTranslationFilter"/>
						<ref bean="filterSecurityInterceptor"/>
					</list>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="authenticationManager">
		<property name="providers">
			<list>
				<ref bean="preauthUserDetailProvider"/>
				<ref bean="casAuthenticationProvider"/>
			</list>
		</property>
	</bean>
	
	<bean id="exceptionTranslationFilter" >
		<property name="authenticationEntryPoint" ref="casEntryPoint"/>
	</bean>
	-->
</beans>

