<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  <bean id="BeangleSpringConfigProcessor"
    class="org.beangle.inject.spring.config.SpringConfigProcessor">
    <property name="reconfigResources" value=";classpath*:spring-config.xml"/>
  </bean>
  <import resource="classpath*:META-INF/spring/*.xml"/>
  <import resource="classpath*:META-INF/spring-override/*.xml"/>
  <import resource="classpath*:spring-local.xml"/>
</beans>
