.folder { background: url(icons/16x16/tree/plus.png)  no-repeat; float: left; height: 14px; width: 17px; padding-right: 3px }
.folder_open { background: url(icons/16x16/tree/minus.png)  no-repeat; float: left; height: 14px; width: 17px; padding-right: 3px }
.doc { background: url(icons/16x16/tree/entityfolder.png) no-repeat; float: left; height: 14px; width: 17px; padding-right: 1px; margin-left: 5px;}

.tier1 { margin-left: 0; }
.tier2 { margin-left: 1.5em; }
.tier3 { margin-left: 3em; }
.tier4 { margin-left: 4.5em; }

.level1 { padding-left: 0; }
.level2 { padding-left: 1em; }
.level3 { padding-left: 2em; }
.level4 { padding-left: 3em; }