# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Build output directies
target

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
.tomcatplugin
test-output
RemoteSystemsTempFiles
Servers
work
.#webclasspath
