<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  <bean id="userService" class="org.beangle.commons.context.testbean.UserService">
    <property name="someMap">
      <map>
        <entry key="string" value="just some string"/>
        <entry key="ref" value-ref="userLdapProvider"/>
      </map>
    </property>
    <property name="someList">
      <list>
        <value>just another string</value>
        <ref bean="userLdapProvider"/>
      </list>
    </property>
    <property name="provider" ref="userDaoProvider"/>
  </bean>
  
  <bean id="userDaoProvider" class="org.beangle.commons.context.testbean.UserDaoProvider"/>

  <bean id="userLdapProvider" class="org.beangle.commons.context.testbean.UserLdapProvider"/>

    <bean id="userLdapService" class="org.beangle.commons.context.testbean.UserService">
      <property name="provider" ref="userLdapProvider"/>
    </bean>
    
</beans>
