 .module{margin:0 3 5px;line-height:1.3em;float:left;width:49%;}
 .modulebody{display:block;padding:4px 8px;background:#e0ecff;} 
 .collapsed .modulebody,.collapsed .collapsed{display:none}
 .header{background:#94aef3;margin:0;padding:0;font-size:100%;line-height:1.2em}
 .expanded .header,.collapsed .header{background-image:url("../images/arrow_down.gif");
  background-repeat:no-repeat;background-position:4px 45%} 
 .collapsed .header{background-image:url("../images/arrow_right.gif")}
 .header .toggle,.header .toggle:visited{display:block;padding:4px;text-decoration:none;color:#000} * html .header .toggle,* html .header .toggle:visited{height:1.2em} .expanded .header .toggle,.collapsed .header .toggle,.expanded .header .toggle:visited,.collapsed .header .toggle:visited{padding-left:18px} .header .toggle:hover{color:#25a;text-decoration:none} .header .toggle em{font-style:normal;font-weight:normal} .header em strong{color:#c00;font-weight:normal} .module h3{margin:0;padding:2px 0;font-size:100%} .module h3 a,.module h3 em{font-weight:normal;font-style:normal} .subtitle{margin:0;padding:3px 4px 2px;font-size:100%}
 .subtitle em{font-style:normal;font-weight:normal} .data .subtitle{padding-left:0}  
 .header{background-image:none} 
 .field{margin-top:2px;padding-top:2px}
