/* This is the style for the informational messages presented to the user */

div.error, div.message {
    background-color: #ECD83C;
    border: 0px solid #000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    vertical-align: bottom;
}

/* use a different color for the errors */
div.error {
	border: 0px solid red;
}

img.validationWarning, div.errors img.icon, div.messages img.icon {
    border: 0;
    width: 14px;
    height: 13px;
    vertical-align: top;
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}

span.fieldError {
    color: red;
    font-size: .95em;
    font-weight: bold;
}
