<style>
.app th {
	background-color: #bbb;
}

.app h3 {
	background-color: #333;
	margin-bottom: 0;
	padding: 5px;
	margin-right: 2px;
	margin-left: 2px;
	color: #fff;
}

.app td, .app th {
	padding: 2px 3px;
}


#breadcrumbs {
	border-top: 1px solid #fff;
	background-color: #ccc;
	padding: 2px 8px;
}

.tabs th {
	border-right: 1px solid #333;
	background-color: #ddd;
	color: #fff;
	border-left: 1px solid #fff;
	font-weight: bold;
}

.tabs td {
	background-color: #999;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	font-weight: bold;
}

.tabs {
	border-bottom: 6px #ddd solid;
}

.tabs th, .tabs th a:link, .tabs th a:visited {
	color: #555;
}

.tabs td, .tabs td a:link, .tabs td a:visited {
	color: #fff;
}

.tabs {
	margin-top: .67em;
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 8px;
}

.tabs td, .tabs th {
	padding: 3px 9px;
}

.toolgroup {
	background: #efefef;
	margin-bottom: 6px;
}

.toolgroup .label {
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	background: #ddd;
	color: #555;
	padding: 4px;
}

.toolgroup .body {
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px 4px 4px 0;
}

.toolgroup .body div {
	padding-bottom: .3em;
	padding-left: 1em;
}

.toolgroup .body div div {
	margin-top: .3em;
	padding-bottom: 0;
}

#bodycol h2 {
	margin-top: .3em;
	margin-bottom: .5em;
}

#bodycol {
	padding-left: 12px;
	padding-right: 12px;
	width: 100%;
	voice-family: "\"}\"";
	voice-family: inherit;
	width: auto;
}

#leftcol {
	width: 14em;
}
</style>