/* 
 * My97 DatePicker 4.7
 */

.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(images/datepicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}